<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/4a7a7eca23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>

<body>
    <h1>ToDo List</h1>
    <form action="/create-task" method="POST" id="form">
        <div id="formname" class="indiv">
            What are you going to do?
            <input class="indata" type="text" name="name" placeholder="Recalibrate the universe" required>
        </div>
        <div id="formdeadline" class="indiv">
            By when?
            <input class="indata" type="date" name="deadline" placeholder="<% moment().format('DD-MM-YYYY'); %>"
                required>
        </div>
        <div id="formcategory" class="indiv">
            Area of life?
            <select class="indata" name="category">
                <option value="Life">Life</option>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
                <option value="Family">Family</option>
            </select>
        </div>
        <div id="buttondiv" class="indiv">
            <button action="/create-task" id="subbutton" type="submit">Add Task</button>
        </div>
    </form>
    <div id="listdiv">
        <ul id="list">
            <h2>Tasks</h2>
            <% for (let i of todo_list) { %>
            <li class="listitem">
                <div class="litname"><%= i.name %></div>
                <div class="litdate"><%= moment(i.deadline).format("Do MMM"); %></div>
                <div class="littime"><%= moment(i.deadline).fromNow(); %></div>
                <div class="litcategory <%= i.category %>"><%= i.category %></div>
                <div class="litdel"><a href="/delete-task/?id=<%= i.id %>">
                        <i class="fas fa-flag-checkered"></i>
                    </a></div>
            </li>
            <% } %>
        </ul>
    </div>
    <script type="text/javascript" src='/home.js'></script>
</body>

</html>