<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a7a7eca23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <h1>ToDo List</h1>
    <form action="/create-task" method="POST" id="form">
        <div id="formname" class="indiv">
            What are you going to do?
            <input class="indata" type="text" name="name" placeholder="Recalibrate the universe" required>
        </div>
        <div id="formdeadline" class="indiv">
            By when?
            <input class="indata" type="date" name="deadline" placeholder="<% moment().format('DD-MM-YYYY'); %>"
                required>
        </div>
        <div id="formcategory" class="indiv">
            Area of life?
            <select class="indata" name="category">
                <option value="Life">Life</option>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
                <option value="FSamily">Family</option>
            </select>
        </div>
    </form>
    <div id="buttons">
        <button type="submit">Add Task</button>
    </div>
    <div id="list">
        <ul>
            <% for (let i of todo_list) { %>
            <li>
                <p><%= i.name %></p>
                <!--<p><%= i.deadline.toISOString().split('T')[0]; %></p>
                <% const str1 = moment(i.deadline).format("Do MMM") + ', ' +  moment(i.deadline).fromNow(); %>
                <p><%= str1 %></p>!-->
                <p><%= moment(i.deadline).format("Do MMM"); %></p>
                <p><%= moment(i.deadline).fromNow(); %></p>
                <p><%= i.category %></p>
                <a href="/delete-task/?id=<%= i.id %>">
                    Delete
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <script type="text/javascript" src='/home.js'></script>
</body>

</html>